.contactus-section {
  font-family: "Segoe UI", sans-serif;
  padding-bottom: 10vh;
  color: gray;
  background-color: white;
}

.contactus-section > h1 {
  color: black;
  margin-left: 15%;
  padding-bottom: 25px;
}

.left-side-contactus > h2 {
  color: darkslategray;
  margin-right: 5px;
}

.left-side-contactus > h3 {
  color: gray;
  margin-right: 5%;
}

.left-side-contactus {
  align-self: baseline;
  min-height: 20vh;
  padding: 1.5rem;
}

.right-side-contactus {
  align-self: auto;
  min-height: 20vh;
  padding: 1.5rem;
}

.telefon-contactus > input {
  width: 100%;
  height: 44px;
  margin: 4px;
  border-radius: 25px;
  padding: 20px;
  text-align: left;
  font-size: 20px;
}

.info-error-succes {
  width: 100%;
}
